@using Cycler.Extensions
@model Cycler.Views.Models.EventViewModel


<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aspnet-signalr/1.1.4/signalr.js"></script>
      <script src="https://cesium.com/downloads/cesiumjs/releases/1.69/Build/Cesium/Cesium.js"></script>
      <link href="https://cesium.com/downloads/cesiumjs/releases/1.69/Build/Cesium/Widgets/widgets.css" rel="stylesheet">
    <script src="~/js/event/details.js"></script>
</head>

@{
    ViewData["Title"] = @Model.Name;
}

<h3> @Model.Name</h3> @if (Model.OwnerId == User.Identity.GetUserId().ToString())
                      {
                          <a class="btn btn-danger" onclick="return confirm('Are you sure you want to delete?');" style="float:right" asp-controller="Event" asp-action="Delete" asp-route-eventId="@Model.Id">Delete Event</a>
                      }

<input id="event-id-input" type="hidden" value="@Model.Id"/>

<label class="text-body">Started: @Model.StartTime</label><p></p>
@if (Model.Finished)
{
    <label class="text-body">Finished: @Model.EndTime </label><p></p>
}

@if (!Model.Private)
{
    <label class="text-body">People invited: @Model.Invited</label>
    <p></p>
    <label class="text-body">People accepted: @Model.Accepted</label>
    <p></p>
}
<div class="text-body"><h3>Description</h3><p></p>@Model.Description</div><br/><p></p>

@if (!Model.Finished && DateTime.UtcNow.AddMinutes(-5) < Model.StartTime)
{
    <input id="user-search" style="width:15%;height:4%;position:absolute;left:0px;float:left;z-index:99 !important" class="form-control" placeholder="Search users..." />
    <div id="active-users" style="height:50%;width:15%;padding-top:2%;position:absolute;left:0px;float:left;overflow-y:scroll;-ms-overflow-style:none;border-style: solid">
        <style>
                ::-webkit-scrollbar {
                    width: 0px;
                    background: transparent;
                }
            </style>



    </div>
    <h2>Live Tracking</h2>
    <div id="cesiumContainer">
    </div>
}else if (Model.Finished)
{
    <h2>Review</h2>
    <select style="width:30%;padding-bottom: 2%" multiple id="users-select">
        @foreach (var user in Model.UserIds)
        {
            <option value="@user.UserId">@user.Name</option>
        }
    </select> <button id="load-data-button" class="btn btn-primary">Load data</button>
    <div id="cesiumContainer">
    </div>
}
