@model IEnumerable<Cycler.Views.Models.EventViewModel>


@{
    ViewData["Title"] = "Upcoming events";
}
<a asp-action="Create" class="btn btn-block btn-primary">Create new event</a>
<hr/>

@foreach (var ev in Model)
{
    <div>
        @ev.Name
    </div>
    <div>
        Description: @ev.Description
    </div>
    <div>
        Start Time: @ev.StartTime.ToLocalTime()
    </div>
    @if (ev.Finished)
    {
        <div>
            Finished Time: @ev.EndTime
        </div>
    }
    <div>
        Invited: @ev.Invited
    </div>
    <div>
        Accepted: @ev.Accepted
    </div>
    <hr/>
}

