@model IEnumerable<Cycler.Views.Models.EventViewModel>

@foreach (var ev in Model)
{
    <div class="row">
        <div class="column">
            <div>
                @ev.Name
            </div>

                @if (!ev.Private)
                {
                    <div>
                    Description: @ev.Description
                    </div>
                }
                else
                {
                    <div>
                        Distance: @ev.UserEventData.First().Meters m
                        </div><div>
                        Duration: @ev.UserEventData.First().Duration.ToString("g")
                    </div>
                }
            
            <div>
                Start Time: @ev.StartTime
            </div>
            @if (ev.Finished)
            {
                <div>
                    Finished Time: @ev.EndTime
                </div>
            }
            @if (!ev.Private)
            {
                <div>
                    Invited: @ev.Invited
                </div>
                <div>
                    Accepted: @ev.Accepted
                </div>
            }

        </div>
        <div class="column">
            <a style="float:right" class="btn btn-primary" href="/Event/Details/@ev.Id">Details</a>
        </div>
    </div>
    <hr/>
}