@model Cycler.Views.Models.FeedViewModel

@foreach(var e in Model.EventFeed)
{
    <div class="feed-item">
    @{
        var user = Model.Users.First(u => u.Id == e.OwnerId);
        var duration = @e.UserEventData.FirstOrDefault(e => e.UserId == user.Id)?.Duration;
        var distance = @e.UserEventData.FirstOrDefault(e => e.UserId == user.Id)?.Meters;
        <a class="btn btn-primary" asp-controller="Event" asp-action="Details" asp-route-eventId="@e.Id" style="float:right">Details</a>
        <h4>@e.Name - @user.FirstName @user.LastName - @e.StartTime.ToString("f")</h4>

        @if (duration.HasValue)
        {
            <h5>Duration: @duration.Value.Hours h @duration.Value.Minutes m @duration.Value.Seconds s</h5>
        }
        @if (distance.HasValue)
        {
            <h5>Distance: @distance  m </h5>
        }
    }
    <hr/>
    </div>
}