@model IEnumerable<Cycler.Views.Models.InvitationViewModel>

<head>
    <link rel="stylesheet" href="~/css/user/invitations.css"/>
</head>

@{
    ViewData["Title"] = "Invitations";
}

@if (!Model.Any())
{
    <h2 class="info" >You don't currently have any invitations!</h2>
}
else
{
    <h2 class="info" style="display:none">You don't currently have any pending invitations!</h2>
}

@foreach (var e in Model)
{
    <div style="margin-top:2%;margin-bottom: 2%" class="invitation row" id="@e.InvitationId" >
        <div class="column">
            <label>Name: @e.EventName</label>
            <p></p>
            <label>Description:
                @if (e.EventDescription.Length > 50)
                {
                    @(e.EventDescription.Substring(50) + "...")
                }
                else
                {
                    @e.EventDescription
                }
            </label>

        </div>
        <div class="column">
            <label>Invited By: @e.InvitedBy.FirstName @e.InvitedBy.LastName</label>
            <p></p>
            <label>Invitation received: @e.InvitationTime</label>
            <p></p>
            <label>Start Time: @e.EventStartTime.ToLocalTime()</label>
        </div>
        <div class="column">
            <a class="btn btn-secondary" href="/Event/Details/@e.EventId" style="width:50%">Details</a><p></p><button class="btn btn-primary accept" style="width:50%">Accept</button><p></p> <button style="width:50%" class="btn btn-danger decline">Decline</button>
        </div>
    </div>
    <hr/>
}

@section Scripts{
    <script src="~/js/user/invitations.js"></script>
}